*{
  margin: 0;
  padding: 0;
}
body{
  font-family: "Trebuchet MS", "Helvetica", sans-serif;
  background: #fff url(images/fundo.png) repeat-x;
}
#container {
  width: 750px;
  margin: 0 auto;
}
#topo{
  height: 150px;
  background: url(images/detalhe-topo.png) no-repeat right top;
  padding-top: 25px;;
}
.logo{
  width:152px;
  height: 66px;
  background: url(images/logo.png) no-repeat center;
  text-indent: -3000px;
}
a:link, a:visited{
  color: #b10333;
  padding: 2px;
}
a:hover{
  color: #e50040;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
header ul{
  margin-top: 30px;
  background: #b10333;
  float: left;
}
header ul li{
  float: left;
}
header ul a{
  font-size: 0.9em;
  display: block;
  padding: 0.5em 1.5em;
  line-height: 2.1em;
  text-decoration: none;
  color: #fff;
  background: url(./images/divisor.png) no-repeat left center;
}
header ul .primeiro a{
  background: none;
}
header ul a:hover{
  color: #69001d;
}
body #navegacao a.atual{
	color: #fff;
  background: #de003e;
  cursor: text;
}
main{
  margin-top: 60px;
  background: #f5f5f5;
}
#lateral{
  width: 180px;
  float: left;
  margin: 0 0 20px -750px;
}
#tresColunas #primario{
  width: 270px;
  float: left;
  margin: 0 0 20px 195px;
}
#duasColunas #primario{
  width: 465px;
  float: left;
}
#umaColuna #primario{
  width: 750px;
  margin: 0 0 20px 0;
}
#secundario{
  width: 270px;
  float: left;
  margin: 0 0 20px 15px;
}
.caixa{
  margin: 10px 0;
  padding: 5px;
  background: #f3f3f3 url(./images/fundo-caixa.png);
}
h2{
  font-size: 1em;
  background:#294c71;
  color: #fff;
  padding: 5px;
}
.caixaConteudo{
  background: #fff;
  padding: 5px;
  margin-top: 5px;
}
#lateral ul a{
  font-size: 0.9em;
  padding: 3px;
  display: block;
  line-height: 30px;
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #f3f3f3;
}
#lateral ul a:hover{
  background: #f9f9f9 url(images/marcador.png) no-repeat left center;
  padding-left: 20px;
  color: #a1a1a1;
}
label{
  display: block;
  cursor: pointer;
}
input{
  padding: 5px;
  width: 125px;
  font-size: 0.9em;
  background-color: #fff;
}
input.submit{
  width: 80px;
  color: #fff;
  background-color: #b10333;
  border: 2px solid #870529;
}
img.imagemPrincipal{
  width: 98%;
  border: 3px solid #dfdfdf;
}
h3{
  text-transform: uppercase;
  display: inline;
  font-size: 0.8em;
  padding: 3px;
}
.destaque h3{
  background: #b10333;
  color: #fff;
}
.entrevista h3{
  background: #de003e;
}
#listaNoticias li{
  padding: 2px;
  border-bottom: 1px solid #ccc;
  height: 62px;
}
#listaNoticias li a img{
  float: left;
  margin: 5px;
}
#listaNoticias li a{
  text-decoration: none;
}
#listaNoticias li a h3{
  font-size: 0.7em;
  padding: 0;
  color: #3e7ab9;
}
#listaNoticias li a p{
  font-size: 0.6em;
  color: #000;
}
#listaNoticias li:hover{
  background: #eee;
  cursor: pointer;
}
.clear{
  clear: both;
}
footer{
  background: #294c71;
  padding: 20px;
}
#footer{
  width: 750px;
  margin: 0 auto;
  color: #fff;
}